.input {
  height: 30px;
  border: 1px solid var(--border-color);
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 4px 4px var(--box-shadow-color);
  padding: 0 15px;

  &:disabled {
    color: var(--black-color);
  }
  &:hover:not([disabled]) {
    color: var(--dark-red);
  }
}
