.list {
  margin-top: 30px;
  padding: 20px;
}
.item {
  border: 1px solid var(--border-color);
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 4px 4px var(--box-shadow-color);
  padding: 15px 15px;
  margin: 5px;

  &_base {
    @extend .item;
    font-size: 20px;
    color: var(--dark-red);
  }
}
