.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 18px;
  &:hover {
    color: var(--primary-text-color);
  }
}

.activeLink {
  color: var(--primary-text-color);
}
