.container {
  display: flex;
  justify-content: center;
  max-width: 700px;
  padding: 20px;
}

.inputWrapper {
  &:hover {
    transform: scale(1.01);
  }
}

.select {
  height: 30px;
  border: 1px solid var(--border-color);
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 4px 4px var(--box-shadow-color);
}

.equal {
  display: flex;
  font-size: 28px;
  color: var(--primary-text-color);
  margin: 0 auto;
  padding: 0, 15px;
}
